---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content | markdownify }}


  {% if site.paginate %}
    {% assign rawposts = paginator.posts %}
  {% else %}
    {% assign rawposts = site.posts %}
  {% endif %}

  <!-- Hide posts if front matter flag hide:true -->
  {% assign posts = ''|split:'' %}
  {% for post in rawposts %}
    {% if post.hide != true %}
      {% assign posts = posts|push:post%}
    {% endif %}
  {% endfor %}

  <!-- Sort posts by rank, then date -->
  {% assign grouped_posts = posts | group_by: "sticky_rank" | sort: "name", "last" %}
  {% assign sticky_posts = ''|split:'' %}
  {% assign non_sticky_posts = '' | split:'' %}

 
  {% for gp in grouped_posts %}
    {%- if gp.name == "" -%}
      {% assign non_sticky_posts = gp.items | sort: "date" | reverse %}
    {%- else %}
      {% assign sticky_posts = sticky_posts | concat: gp.items %}
    {%- endif -%}
  {% endfor %}

   <!-- Assemble final sorted posts array -->
  {% assign sticky_posts = sticky_posts | sort: "sticky_rank", "last" %}
  {% assign posts = sticky_posts | concat: non_sticky_posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {%- if site.show_image -%}
            {%- include post_list_image_card.html -%}
        {% else %}
            {%- include post_list.html -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate and site.posts.size > site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}


<button
  style="
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 0;
    color: #fff;
    background: #2DA3D6;
  "
  >View National Level FRT Systems >
</button>


<h1 style="text-align: center">Petition</h1>

<p style="text-align: center">The petition is for calling on/asking the government to immediately put a moratorium on the development and use of FRT by government authorities</p>

<iframe
  src="https://blocksurvey.io/survey/1PfQfn62JSDjjyK4nuHoY5t21wKeuocLLm/9999d60d-06bb-4737-9754-c42be1f7e630"
  frameborder="0"
  marginheight="0"
  marginwidth="0"
  height="400"
>
    Loading…
</iframe>

<h1
  style="
    text-align: center;
    margin-top: 50px;
  "
>Submit an FRT
</h1>

<p style="text-align: center">Help us identify an FRT system near you.</p>

<a
  style="
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 0;
    color: #fff;
    background: #2DA3D6;
  "
  href="{{ site.base_url }}/submit_frt"
  >Submit an FRT
</a>

<h1
  style="
    text-align: center;
    margin-top: 50px;
  "
>Case Studies</h1>

<p style="text-align: center">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<a
  style="
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 0;
    color: #fff;
    background: #2DA3D6;
  "
  href="{{ site.base_url }}/case_studies"
  >View Case Studies
</a>


<h1
  style="
    text-align: center;
    margin-top: 50px;
  "
  >RTIs
</h1>

<p style="text-align: center">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<a
  style="
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 0;
    color: #fff;
    background: #2DA3D6;
  "
  href="{{ site.base_url }}/rti"
  >View RTIs
</a>

</div>